consumption:
  entity: sensor.total_consumption_power
  # net_entity: sensor.grid_power

battery:
  power_control_entity: number.noah_system_output_power
  actual_power_entity: sensor.noah_output_power
  power_control_label: battery
  # min_output_w: 0
  max_output_w: 800
  power_step_w: 50
  min_change_w: 50
  min_write_interval_s: 60
  max_increase_per_cycle_w: 150
  max_decrease_per_cycle_w: 300
  emergency_max_decrease_per_cycle_w: 500

battery_sensors:
  soc_entity: sensor.noah_soc
  # temperature_entity: sensor.noah_bat0_temperature
  discharge_limit_entity: number.noah_discharge_limit
  # charging_limit_entity: number.noah_charging_limit
  # heating_entity: binary_sensor.noah_heating

inverter:
  power_control_entity: number.ez1_output_power_limit
  actual_power_entity: sensor.ez1_output_power
  power_control_label: inverter
  min_output_w: 30
  max_output_w: 800
  power_step_w: 25
  min_change_w: 25
  min_write_interval_s: 15
  max_increase_per_cycle_w: 300
  max_decrease_per_cycle_w: 300
  emergency_max_decrease_per_cycle_w: 500

control:
  baseline_load_w: 0
  control_interval_s: 30
  consumption_ema_tau_s: 75
  net_ema_tau_s: 45
  deadband_w: 50
  zero_output_threshold_w: 25
  fast_export_threshold_w: -80
  import_correction_gain: 0.35
  export_correction_gain: 1.0
  net_export_negative: true

battery_policy:
  soc_stop_buffer_pct: 0
  soc_full_power_buffer_pct: 0
  soc_min_derate_factor: 1.0

thermal:
  normal_min_soc_pct: 15
  normal_max_soc_pct: 95
  normal_cap_limit_w: 800
  hot_enter_t30_c: 35
  hot_exit_t30_c: 33
  hot_exit_hold_s: 3600
  hot_min_soc_pct: 15
  hot_max_soc_pct: 90
  hot_cap_limit_w: 800
  very_hot_enter_t30_c: 40
  very_hot_enter_t5_c: 45
  very_hot_exit_t30_c: 38
  very_hot_exit_t5_c: 43
  very_hot_exit_hold_s: 3600
  very_hot_min_soc_pct: 20
  very_hot_max_soc_pct: 85
  very_hot_cap_limit_w: 400

availability:
  warning_grace_s: 3600

logging:
  debug_entity_prefix: sensor.ha_pv_optimization
